4/10 1:00pm-5:00pm Ramon, Eric  4 hours
Driver Order and Time Length:
Eric, 30 minutes
Ramon, 30 minutes
Eric, 30 minutes
Ramon, 30 minutes
Eric, 90 minutes
Ramon, 30 minutes

4/11 2:00pm-5:00pm Ramon, Eric 3 hours
Driver Order and Time Length:
Eric, 30 minutes
Ramon, 30 minutes
Eric, 30 minutes
Ramon, 30 minutes
Eric, 30 minutes
Ramon, 30 minutes

4/12 1:00pm - 4:00pm  Eric, Ramon 3 hours
Driver Order and Time Length:
Eric, 60 minutes
Ramon, 60 minutes
Eric, 60 minutes

4/13 1:00pm- 6:00pm, Eric, Ramon 5 hours
Driver Order and Time Length:
Eric, 60 minutes
Ramon, 30 minutes
Eric, 30 Minutes
Ramon, 60 minutes
Eric, 60 Minutes

4/14 2:30pm-4:30pm Ramon, Eric  6 hours
Driver Order and Time Length:
Eric, 30 minutes
Ramon, 30 minutes
Eric, 30 minutes
Ramon, 30 minutes
Eric, 30 minutes
Ramon, 30 minutes
Eric, 30 minutes
Ramon, 30 minutes
Eric, 30 minutes
Ramon, 30 minutes
Eric, 60 minutes



